.todo-wrapper {
    .tag {
        .menu, .action {
            text-align: right;
        }

        .action {
            margin-top: 1rem;
        }
    }

    form {
        [name=todo] {            
            margin: 0 .5rem;
        }
    }

    .todo-list {
        display: flex;
        gap: 1rem;
    }
}