:root {
  a {
    text-decoration: none;
  }
}

html {
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      margin: 2rem;
    }
    .manage {
      font-style: italic;
      margin: 1rem;
    }
  }
  box-sizing: border-box;

  #container {
    display: grid;
    grid-auto-flow: row;
    width: 100%;

    .detail {
      width: 80%;
      margin-left: 1rem;
      .pages {
        text-align: center;

        span {
          margin: 0 .5rem;

        }
      }

      table {
        border-collapse: separate;
        border-spacing: 0 1rem;
        tr {
          text-align: center;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          max-width: 1200px;
          th {
            padding: 1rem;
          }
        }

        tbody {

          tr {
            .material-symbols-outlined {
              margin: 0 .5rem;
              cursor: pointer;
              visibility: hidden;
            }

            &:hover {
              .material-symbols-outlined {
                visibility: visible;
                opacity: .4;

                &:hover {
                  opacity: 1;
                }
              }
            }

            td {
              // display: inline-block;
              // vertical-align: middle;
            }

            &:hover {
              td:not(:last-child) {
                background-color: rgba(185, 185, 180, 0.993);
              }
            }
          }
        }

      }
    }
  }
}